<app-heder></app-heder>
<div class="container">
  <div class="title">
    <h2>Almacen de comprobantes</h2>
  </div>
  @for (element of alls; track $index){
   
 
    <div class="comprobante-item">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYxms68hyLV1WhAKeX-azENbc_pK_yjJ8Kbg&s"
        alt="Comprobante Icon"
        class="comprobante-icon"
      />
      <p>{{ element._id }}</p>
      <a class="download-button" href="{{element.url}}">
        <img src="../../../assets/download-solid-24.png" alt="downland icon">
      </a>
    </div>
  }

</div>
