<app-heder></app-heder>

<body>
  <div id="screenMiddle">
    <h2>AGREGAR PROVEEDORES</h2>
    <form [formGroup]="newSupplierData">
      <div id="formColor">
        <div class="formDivider">
          <label for="thirdParty">Tercero</label>
          <input id="thirdParty" formControlName="thirdPartyData" type="text" />
        </div>

        <div class="formDivider">
          <label for="nit">NIT</label>
          <input id="nit" formControlName="nitData" type="text" />
        </div>

        <div class="formDivider">
          <label for="phone">Teléfono</label>
          <input id="phone" formControlName="phoneData" type="tel" />
        </div>

        <div class="formDivider">
          <label for="email">Correo</label>
          <input id="email" formControlName="emailData" type="email" />
        </div>

        <div class="formDivider">
          <label for="city">Ciudad / Municipio</label>
          <input id="city" formControlName="cityData" type="text" />
        </div>

        <div class="formDivider">
          <label for="department">Departamento</label>
          <input id="department" formControlName="departmentData" type="text" />
        </div>
      </div>
      <button id="submit" type="submit" (click)="handleNewSupplierSubmit()">
        Agregar proveedor
      </button>
    </form>
  </div>
</body>

<app-footer></app-footer>
