.pading-login {
  padding: 6px;
  padding-left: 20px;
}

.login-div {
  height: 200px;
  width: 400px;
}

.big-font {
  font-size: 32px;
}

.bordered {
  border-radius: 15px;
}

.side-width {
  width: 100%;
}
